/* -----------------
サイドコンテンツ
----------------- */

    .product-wrapper {
        padding: 20px 10% 20px 10%;
    }

    /* -----------------
    パンくずリスト
    ----------------- */
    .product-breadcrumbs {
        font-size: 13px;
        padding-bottom: 20px;
    }
    .product-breadcrumb-link {
        text-decoration: none;
        color: #23abdd;
    }
    .product-breadcrumb-link:hover {
        border-bottom: 1px solid #23abdd; 
    }
    .product-breadcrumb-name {
        color: #666;
    }
    .product-breadcrumb-separator {
        border-radius: 12px;
        font-weight: bold;
    }

    /* -----------------
    コンテンツラッパー
    ----------------- */
    .product-content-wrapper {
        padding-top: 20px;
        display: flex;
    }

    /* -----------------
    メインコンテンツ
    ----------------- */
    .product-main {
        width: 80%;
    }

    /* -----------------
    サイドバー 
    ----------------- */
    .product-side {
        width: 20%;
        font-size: 12px;
        box-sizing: border-box;
    }

    .product-side-container {
        background-color: #f8f8f8;
        border-radius: 0 0 4px 4px;
        position: sticky;
        top: 90px;
        max-height: 85vh;
        overflow-y: auto;
    }

    /* 対象商品 */
    .product-side-content {
        background-color: #c1c1c1;
        color: #fff;
        padding: 10px;
        border-radius: 4px 4px 0 0;
    }
    .product-side-content span {
        font-size: 26px;
        font-weight: bold;
        padding-right: 5px;
    }

    /* キーワード検索 */
    .product-side-keyword-search {
        padding: 30px 10px 20px 10px;
    }
    .product-side-keyword-search-title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 6px;
        color: #444444;
    }
    .product-side-keyword-search input[type="text"] {
        padding: 8px;
        border: 1px solid #eaeaea;
        border-radius: 4px;
    }
    .product-side-keyword-search-input {
        padding: 7px 0 7px 0;
    }
    .product-side-keyword-search-input-text {
        width: 90%;
    }

    /* 価格 */
    .product-side-price-search {
        padding: 30px 10px 20px 10px;
    }
    .product-side-price-search-title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 6px;
        color: #444444;
    }
    .product-side-price-search-input input[type="text"] {
        padding: 8px;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        width: 35%;
    }
    .product-side-price-search-input {
        padding: 7px 0 7px 0;
    }

    /* セール商品 */
    .product-side-sale-search {
        padding: 15px 0 15px 0;
    }
    .product-side-sale-search-title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 6px;
        color: #444444;
    }
    .product-side-sale-search-checkbox {
        padding: 7px 0 7px 0;
    }

    /* アイテム */
    .product-side-item-search {
        padding: 15px 0 15px 0;
    }
    .product-side-item-search-title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 6px;
        color: #444444;
    }
    .product-side-item-search-checkbox {
        padding: 7px 0 7px 0;
    }

    /* ブランド */
    .product-side-brand-search {
        padding: 15px 0 15px 0;
    }
    .product-side-brand-search-title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 6px;
        color: #444444;
    }
    .product-side-brand-search-checkbox {
        padding: 7px 0 7px 0;
    }

    /* お悩み */
    .product-side-concern-search {
        padding: 15px 0 15px 0;
    }
    .product-side-concern-search-title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 6px;
        color: #444444;
    }
    .product-side-concern-search-checkbox {
        padding: 7px 0 7px 0;
    }

    /* パーソナルカラー */
    .product-side-personal-color {
        padding: 15px 0 15px 0;
    }
    .product-side-personal-color-title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 6px;
        color: #444444;
    }
    .product-side-personal-color-checkbox {
        padding: 7px 0 7px 0;
    }

    /* 検索ボタンと検索条件をリセットボタン */
    .product-side-search-buttons {
        padding: 10px 10px 30px 10px;
    }
    .search-button {
        background-color: #f0666c;
        color: #fff;
        border-radius: 20px;
        border: none;
        outline: none;
        font-size: 1em;
        cursor: pointer;
        width: 54px;
        height: 24px;
        float: right;
    }
    .reset-button {
        background-color: #fff;
        color: #666;
        border-radius: 20px;
        border: 1px solid #666;
        outline: none;
        font-size: 1em;
        cursor: pointer;
        width: 54px;
        height: 24px;
        float: right;
        margin-right: 5px;
    }
    /* チェックボックス */
    .ECM_CheckboxInput {
        padding: 10px;
        display: flex;
        align-items: center;
    }
    .ECM_CheckboxInput-Input {
        margin: 0;
        width: 0;
        opacity: 0;
    }
    .ECM_CheckboxInput:hover{
        background: rgba(0,0,0,.05) !important;
    }
    .ECM_CheckboxInput:hover > .ECM_CheckboxInput-DummyInput{
        transform: scale(1.1);
    }
    .ECM_CheckboxInput-Input:focus + .ECM_CheckboxInput-DummyInput{
        transform: scale(1.1);
    }
    .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput {
        background: #f0666c;
    }
    .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
        content: "";
        display: block;
        position: absolute;
        top: 10%;
        left: 65%;
        width: 40%;
        height: 2px;
        border-radius: 2px;
        transform: translate(-6px, 5px) rotateZ(-135deg);
        transform-origin: 2px 2px;
        background: #FFFFFF;
    }
    .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::after {
        content: "";
        display: block;
        position: absolute;
        top: 20%;
        left: 75%;
        width: 60%;
        height: 2px;
        border-radius: 2px;
        transform: translate(-6px, 5px) rotateZ(-45deg);
        transform-origin: 2px 2px;
        background: #FFFFFF;
    }
    .ECM_CheckboxInput-DummyInput {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 15px;
        height: 15px;
        border: solid 2px transparent;
        background: rgba(0, 0, 0, .15);
        border-radius: 50%;
        transition: all .15s linear;
    }
    .ECM_CheckboxInput-LabelText {
        margin-left: 12px;
        display: block;
    }
    /* アコーディオンメニュー */
    .accordion-title {
        cursor: pointer;
    }
    .accordion-content {
        display: none;
    }

    .accordion-title {
        padding: 10px;
        position: relative;
    }
    .accordion-title:hover {
        background-color: #e1e0e0;
    }
    .accordion-title::after {
        border-right: solid 2px #4b4b4b;
        border-top: solid 2px #4b4b4b;
        content: "";
        display: block;
        height: 8px;
        position: absolute;
        right: 20px;
        top: 35%;
        transform: rotate(135deg);
        transition: transform .3s ease-in-out, top .3s ease-in-out;
        width: 8px;
    }
    .accordion-title.open::after {
        top: 35%;
        transform: rotate(-45deg);
    }

/* -----------------
メインコンテンツ
----------------- */
.custom-hr {
    border-top: 0.1px solid rgba(45, 45, 45, 5%); /* 必要に応じて上下の余白を調整 */
}
    .product-main {
        padding-left: 40px;
    }

    /* -----------------
    メインコタイトル
    ----------------- */
    .product-main-title {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.6;
        color: #2d2d2d;
    }
    /* タイトルの説明 */
    .product-main-explanation {
        font-size: 13px;
        line-height: 1.6;
        color: #a0a0a0;
    }

    /* -----------------
    商品一覧
    ----------------- */
    .product-l-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3列のグリッド */
        column-gap: 5%;  /* 横方向の隙間のみ指定 */
        row-gap: 0;      /* 縦方向の隙間を0に */
    }
    .product-card {
        background-color: #fff;
        color: #212121;
        text-decoration: none;
        padding-bottom: 30px;
    }
    .product-card-title {
        padding-top: 5px;
        font-size: 1rem;
    }
    .product-card-thumbnail {
        margin: 0;
        order: 0;
    }
    img {
        max-width: 100%;
        vertical-align: bottom;
    }
    .product-card-image {
        height: 270px;
        width: 220px;
    }

    .product-card-text {
        font-size: 14px;
    }
    .product-card-text + .product-card-text {
        margin-top: .5rem;
    }
    .product-card-text.-number {
        color: #f0666c;
        font-weight: bold;
        font-size: 18px !important;
    }
    .button {
        display: inline-block;
        text-decoration: none;
        transition: background-color .3s ease-in-out;
    }
    .button.-compact {
        padding: .5rem 1rem;
        border-radius: .25rem;
        background-color: #f0666c;
        color: #fff;
        font-weight: bold;
    }
    .button.-compact:hover,
    .button.-compact:focus {
        background-color: #80cbc4;
    }

    .product-sort-select {
        padding: 8px 16px;
        border: 1px solid #fff;  /* 枠線を白に変更 */
        border-radius: 4px;
        background-color: white;
        font-size: 14px;
        cursor: pointer;
    }
    /* フォーカス時の枠線も白に保つ場合 */
    .product-sort-select:focus {
        outline: none;
        border-color: #fff;
    }
    /* ホバー時も枠線を白に保つ場合 */
    .product-sort-select:hover {
        border-color: #fff;
    }