body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    display: flex;
    flex-direction: column;
    background: #efefef;
    padding: 16px 10% 16px 10%;
}

/* -----------------
ヘッダー内のコンテナ
----------------- */
    .header-container {
        display: flex;
        justify-content: space-between; /* 左右の要素を分散 */
        width: 100%;
    }

/* -----------------
サイトタイトルのスタイル
----------------- */
    .site-title {
        margin: 0;
        font-size: 24px;
        font-weight: bold;
    }
/* -----------------
ナビゲーション
----------------- */
    nav {
        margin-top: 16px;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        display: flex; /* フレックスボックスを使用 */
        justify-content: center; /* 中央揃え */
        font-weight: bold;
    }
    nav ul li {
        display: inline;
        margin: 0 20px;
    }
    nav ul li a {
        text-decoration: none;
        font-size: 1.2vw;
        color: #333;
    }

    .hero {
        background: #ffffff;
        padding: 20px;
        text-align: center;
    }
    .products {
        background: #efefef;
        padding: 20px 10% 20px 10%;
    }
    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 30%;
        text-align: center;
    }
    footer {
        background: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
        position: relative;
        bottom: 0;
        width: 100%;
    }

/* -----------------
検索フォーム
----------------- */
    .search-form {
        margin: 0 20px; /* 左右のマージンを追加 */
    }
    .search-form form {
        display: flex; /* フォーム内の要素をフレックスボックスで配置 */
    }
    .input-wrapper {
        position: relative; /* アイコンの配置用にラッパーを相対位置に設定 */
        width: 250px; /* 検索窓の幅を指定 */
    }
    .search-form input[type="text"] {
        padding: 8px 8px 8px 30px; /* 左側にアイコン分のスペースを確保 */
        border: 1px solid #ffffff;
        border-radius: 4px;
        width: 100%; /* ボックスの横幅いっぱい */
    }
    .search-icon {
        position: absolute; /* アイコンを絶対位置に */
        top: 50%; /* 垂直方向に中央揃え */
        left: 8px; /* 左端からの距離 */
        transform: translateY(-50%); /* アイコンを中央揃えに */
        display: inline-block;
        width: 1em;
        height: 1em;
        color: #c9c9c9;
        font-size: 18px;
    }
    .search-icon::before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0.7em;
        height: 0.7em;
        box-sizing: border-box;
        border: 0.15em solid currentColor;
        border-radius: 50%;
        background-color: #fff;
        content: "";
    }
    .search-icon::after {
        position: absolute;
        top: 0px;
        left: 50%;
        z-index: -1;
        transform: rotate(-45deg);
        width: 0.15em;
        height: 1em;
        box-sizing: border-box;
        background-color: currentColor;
        content: "";
    }
    .search-form button {
        padding: 8px 12px;
        color: #3d1818; /* ボタンのテキスト色 */
        border: none; /* ボーダーを削除 */
        border-radius: 4px; /* 角を丸くする */
        cursor: pointer; /* ポインターを表示 */
    }

/* -----------------
ドロップダウンボタンのスタイル
----------------- */
    .dropdown-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #efefef;
        padding: 10px;
        border: none;
        cursor: pointer;
    }
    .mr {
        padding-left: 15px;
    }

/* -----------------
ドロップダウンメニューのスタイル
----------------- */
    .dropdown-content {
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: black;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    .hidden {
        display: none;
    }

/* -----------------
スライドショー 
----------------- */
    .sliderArea {
        max-width: 100%;
        margin: 0 auto;
        padding: 30px 25px 10px;
        overflow: hidden;
    }
    .sliderArea.w300 {
        max-width: 300px;
    }
    .slick-slide {
        margin: 0 15px;
        position: relative;
    }
    .slick-slide img {
        width: 100%;
        height: 38vh !important;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1); /* 影の設定 */
        border-radius: 15px; /* 角を15px丸くする */
        object-fit: cover; /* 画像を全体にフィットさせる */
    }
    .slick-prev, .slick-next {
        z-index: 1;
        right: -5px !important;
    }
    .slick-prev:before, .slick-next:before {
        color: #000000 !important;
        font-size: 35px !important;
    }
    .slick-slide {
        transition: all ease-in-out .3s;
        /* opacity: .2; */
    }
    .slick-active {
        opacity: 1;
    }
    .slick-current {
        opacity: 1;
    }
    .thumb {
        margin: 20px 0 0;
    }
    .thumb .slick-slide {
        cursor: pointer;
    }
    .thumb .slick-slide:hover {
        opacity: .7;
    }
    .full-screen.slider {
        margin: 0 auto;
    }
    /* テキストのコンテナを画像の上に配置 */
    .slide-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        text-align: left;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 15px; /* 角を15px丸くする */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    }
    /* テキストのスタイル */
    .slide-content h2 {
        font-size: 1.2em;
        margin: 0;
    }
    .slide-content p {
        font-size: 0.9em;
        margin-top: 5px;
    }
    .mrdium-screen {
        display: block !important;
    }

/* -----------------
商品一覧
----------------- */

    /* おすすめ商品 */
    .wrapper{
        align-items: center;
        justify-content: center;
    }
    .inner{
        width: calc(100% - 100px);
        max-width: 800px;
    }
    .slide{
        width: 160px !important;
        background-color: #ffffff;
    }
    .slide img{
        width: 160px;
        height: 200px !important;
        border-radius: 0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1); /* 影の設定 */
    }
    .product-info{
        width: 160px;
        height: 200px;
        padding: 5px;
    }
    .product-info p{
        font-size: 14px;
    }
    .product-price{
        color: #f0666c;
        font-weight: bold;
        font-size: 18px !important;
    }
    .btn {
        display: inline-block;
        background: #f0666c;
        color: white;
        padding: 6px 13px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 12px;
    }
    