body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 16px;
}

/* ヘッダー内のコンテナ */
.header-container {
    display: flex;
    justify-content: space-between; /* 左右の要素を分散 */
    width: 100%;
}

/* サイトタイトルのスタイル */
.site-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

nav {
    margin-top: 16px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    background: #f0666c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.products {
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 30%;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* 検索フォーム */
.search-form {
    margin: 0 20px; /* 左右のマージンを追加 */
}

.search-form form {
    display: flex; /* フォーム内の要素をフレックスボックスで配置 */
}

.search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px; /* ボタンとの間に隙間を作る */
    width: 250px; /* お好みの横幅を指定 */
}

.search-form button {
    padding: 8px 12px;
    background-color: #f0666c; /* ボタンの背景色 */
    color: #f8f8f8; /* ボタンのテキスト色 */
    border: none; /* ボーダーを削除 */
    border-radius: 4px; /* 角を丸くする */
    cursor: pointer; /* ポインターを表示 */
}

.search-form button:hover {
    background-color: #f0666c; /* ホバー時の背景色 */
}

/* ドロップダウンボタンのスタイル */
.dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 150px;
}

.dropdown-icon {
    margin-left: 8px;
}

/* ドロップダウンメニューのスタイル */
.dropdown-content {
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.hidden {
    display: none;
}


/* スライドショー */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slides {
    display: none; /* 初期状態では全て非表示 */
    position: relative;
    overflow: hidden; /* オーバーフローを隠す */
}

.slides img {
    width: 100%; /* 画像をコンテナにフィット */
    height: 300px; /* 縦サイズを調整 */
    object-fit: cover; /* 画像のアスペクト比を保持 */
}

.slide-content {
    position: absolute;
    top: 60%; /* 上からの位置を調整 */
    left: 50%;
    width: 100%; /* 横幅を100%に設定 */
    transform: translate(-50%); /* 中央に配置 */
    color: white; /* テキストの色 */
    text-align: center;
    z-index: 2; /* 画像の上に表示 */
    background-color: rgba(0, 0, 0, 0.5); /* 背景色を設定して、半透明に */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: 10%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center; /* テキストを中央に配置 */
    transition: 0.6s ease;
    user-select: none;
    z-index: 3; /* 画像の上に表示 */
}

.prev {
    left: 0; /* 左側に配置 */
}

.next {
    right: 0; /* 右側に配置 */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot-container {
    text-align: center;
    padding: 10px 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.fade {
    animation: fade 1s ease; /* なめらかにスライドする */
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
