body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    display: flex;
    flex-direction: column;
    background: #efefef;
    padding: 16px 10% 16px 10%;
}

/* ヘッダー内のコンテナ */
    .header-container {
        display: flex;
        justify-content: space-between; /* 左右の要素を分散 */
        width: 100%;
    }

/* サイトタイトルのスタイル */
    .site-title {
        margin: 0;
        font-size: 24px;
        font-weight: bold;
    }
/* ナビゲーション */
    nav {
        margin-top: 16px;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        display: flex; /* フレックスボックスを使用 */
        justify-content: center; /* 中央揃え */
        font-weight: bold;
    }
    nav ul li {
        display: inline;
        margin: 0 20px;
    }
    nav ul li a {
        text-decoration: none;
        font-size: 1.2vw;
        color: #333;
    }

    .hero {
        background: #ffffff;
        padding: 20px;
        text-align: center;
    }
    .btn {
        display: inline-block;
        background: #f0666c;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
    .products {
        background: #efefef;
        padding: 20px 10% 20px 10%;
    }
    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 30%;
        text-align: center;
    }
    footer {
        background: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
        position: relative;
        bottom: 0;
        width: 100%;
    }

/* 検索フォーム */
    .search-form {
        margin: 0 20px; /* 左右のマージンを追加 */
    }
    .search-form form {
        display: flex; /* フォーム内の要素をフレックスボックスで配置 */
    }
    .input-wrapper {
        position: relative; /* アイコンの配置用にラッパーを相対位置に設定 */
        width: 250px; /* 検索窓の幅を指定 */
    }
    .search-form input[type="text"] {
        padding: 8px 8px 8px 30px; /* 左側にアイコン分のスペースを確保 */
        border: 1px solid #ffffff;
        border-radius: 4px;
        width: 100%; /* ボックスの横幅いっぱい */
    }
    .search-icon {
        position: absolute; /* アイコンを絶対位置に */
        top: 50%; /* 垂直方向に中央揃え */
        left: 8px; /* 左端からの距離 */
        transform: translateY(-50%); /* アイコンを中央揃えに */
        display: inline-block;
        width: 1em;
        height: 1em;
        color: #c9c9c9;
        font-size: 18px;
    }
    .search-icon::before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0.7em;
        height: 0.7em;
        box-sizing: border-box;
        border: 0.15em solid currentColor;
        border-radius: 50%;
        background-color: #fff;
        content: "";
    }
    .search-icon::after {
        position: absolute;
        top: 0px;
        left: 50%;
        z-index: -1;
        transform: rotate(-45deg);
        width: 0.15em;
        height: 1em;
        box-sizing: border-box;
        background-color: currentColor;
        content: "";
    }
    .search-form button {
        padding: 8px 12px;
        color: #3d1818; /* ボタンのテキスト色 */
        border: none; /* ボーダーを削除 */
        border-radius: 4px; /* 角を丸くする */
        cursor: pointer; /* ポインターを表示 */
    }

/* ドロップダウンボタンのスタイル */
    .dropdown-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #efefef;
        padding: 10px;
        border: none;
        cursor: pointer;
    }
    .mr {
        padding-left: 15px;
    }

/* ドロップダウンメニューのスタイル */
.dropdown-content {
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.hidden {
    display: none;
}


/* スライドショー */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slides {
    display: none; /* 初期状態では全て非表示 */
    position: relative;
    overflow: hidden; /* オーバーフローを隠す */
}

.slides img {
    width: 100%; /* 画像をコンテナにフィット */
    height: 300px; /* 縦サイズを調整 */
    object-fit: cover; /* 画像のアスペクト比を保持 */
}

.slide-content {
    position: absolute;
    top: 60%; /* 上からの位置を調整 */
    left: 50%;
    width: 100%; /* 横幅を100%に設定 */
    transform: translate(-50%); /* 中央に配置 */
    color: white; /* テキストの色 */
    text-align: center;
    z-index: 2; /* 画像の上に表示 */
    background-color: rgba(0, 0, 0, 0.5); /* 背景色を設定して、半透明に */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: 10%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center; /* テキストを中央に配置 */
    transition: 0.6s ease;
    user-select: none;
    z-index: 3; /* 画像の上に表示 */
}

.prev {
    left: 0; /* 左側に配置 */
}

.next {
    right: 0; /* 右側に配置 */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot-container {
    text-align: center;
    padding: 10px 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.fade {
    animation: fade 1s ease; /* なめらかにスライドする */
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
